<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/style.css">
        <script src="/static/js/script.js"></script>
        <title>Spaceshare</title>
    </head>

    <body> 
        <div class="container">
            <div class="center">
                <h2>account created</h2>
            </div>
        </div>

        <script>
            redirectToPage("/", 2000);
        </script>

    </body>

</html>