<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/css/style.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" crossorigin="anonymous">
        <script src="/static/js/script.js"></script>
        <title>Spaceshare</title>
    </head>

    <body>
        <div id="top-icons">
            <a href="/profile/">
                <i aria-label="profile" class="fa-2x fa-solid fa-user"></i>
            </a>
            <a href="/map/">
                <i aria-label="map" class="fa-2x fa-solid fa-earth-americas"></i> 
                <!-- possible replacement to map <i class="fa-solid fa-map-location-dot"></i> -->
            </a>
        </div>
        <div id="bottom-icons">
            <i onclick="addListing()" aria-label="add-place" class="fa-2x fa-solid fa-circle-plus"></i>
        </div>
        <div id="all-posts">
            <div class="post">
                <div class="left-side">
                    <h5 class="text-style">S State St. | Ann Arbor</h5>
                    <p class="text-style">1 mile away</p>
                    <p class="text-style">Modern office space measuring 500 square feet. Equipped with high-speed internet, conference rooms, and a full-service coffee bar. Ideal for startups and professionals seeking a dynamic environment.</p>
                </div>
                <div class="right-side">
                    <img class="post-image" src="/uploads/OfficeSpace.png">
                </div>
            </div>
            <div class="post">
                <div class="left-side">
                    <h5 class="text-style">W Stadium Blvd. | Ann Arbor</h5>
                    <p class="text-style">1.8 miles away</p>
                    <p class="text-style">Sleek, tech-friendly office space coming in at 800 square feet. Perfect for tech startups and digital creatives. Features include fiber-optic internet, collaborative workspaces, and access to tech community events.</p>
                </div>
                <div class="right-side">
                    <img class="post-image" src="/uploads/OfficeSpace2.png">
                </div>
            </div>
            <div class="post">
                <div class="left-side">
                    <h5 class="text-style">W Liberty Street | Ann Arbor</h5>
                    <p class="text-style">0.8 miles away</p>
                    <p class="text-style">Boutique office space of 850 square feet featuring ultra-fast Wi-Fi, multiple huddle rooms, and an artisan coffee station. Perfect for creative professionals and small agencies.</p>
                </div>
                <div class="right-side">
                    <img class="post-image" src="/uploads/OfficeSpace3.png">
                </div>
            </div>
            <div class="post">
                <div class="left-side">
                    <h5 class="text-style">Packard St. | Ann Arbor</h5>
                    <p class="text-style">1.2 miles away</p>
                    <p class="text-style">Contemporary 550 square foot office equipped with gigabit internet, shared meeting rooms, and a juice bar. Suitable for health and wellness startups.</p>
                </div>
                <div class="right-side">
                    <img class="post-image" src="/uploads/OfficeSpace4.png">
                </div>
            </div>
            <div class="post">
                <div class="left-side">
                    <h5 class="text-style">E University Ave | Ann Arbor</h5>
                    <p class="text-style">0.5 miles away</p>
                    <p class="text-style">Tech-driven office space, 480 square feet, with advanced IT support, private booths, and an espresso lounge. Ideal for tech startups and app developers.</p>
                </div>
                <div class="right-side">
                    <img class="post-image" src="/uploads/OfficeSpace5.png">
                </div>
            </div>
            <div class="post">
                <div class="left-side">
                    <h5 class="text-style">N Main St. | Ann Arbor</h5>
                    <p class="text-style">1.3 miles away</p>
                    <p class="text-style">Spacious 920 square foot office with high-speed internet, executive conference facilities, and a premium coffee bar. Designed for consultants and finance professionals.</p>
                </div>
                <div class="right-side">
                    <img class="post-image" src="/uploads/OfficeSpace6.png">
                </div>
            </div>
        </div>
    </body>

</html>