<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/css/style.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" crossorigin="anonymous">
        <script src="/static/js/script.js"></script>
        <title>Spaceshare</title>
    </head>

    <body>
        <div id="top-icons">
            <a href="/profile/">
                <i aria-label="profile" class="fa-2x fa-solid fa-user"></i>
            </a>
            <a href="/map/">
                <i aria-label="map" class="fa-2x fa-solid fa-earth-americas"></i> 
                <!-- possible replacement to map <i class="fa-solid fa-map-location-dot"></i> -->
            </a>
        </div>
        <div id="bottom-icons">
            <i onclick="addListing()" aria-label="add-place" class="fa-2x fa-solid fa-circle-plus"></i>
        </div>
        <div id="all-posts">
            <div class="post" onclick="sendOffer()">
                <div class="left-side">
                    <h5 class="text-style">Willowtree Apartments | Ann Arbor</h5>
                    <p class="text-style">0.1 miles away</p>
                    <p class="text-style">2 bed 1 bath | apt.
                        Get your own room for the summer!</p>
                </div>
                <div class="right-side">
                    <img class="post-image" src="/uploads/willowtree1.jpg">
                </div>
            </div>
            <div class="post" onclick="sendOffer()">
                <div class="left-side">
                    <h5 class="text-style">Willowtree Apartments | Ann Arbor</h5>
                    <p class="text-style">0.1 miles away</p>
                    <p class="text-style">studio | apt.
                        Pet friendly!</p>
                </div>
                <div class="right-side">
                    <img class="post-image" src="/uploads/willowtree2.png">
                </div>
            </div>
            <div class="post" onclick="sendOffer()">
                <div class="left-side">
                    <h5 class="text-style">Courtyard | Ann Arbor</h5>
                    <p class="text-style">3 miles away</p>
                    <p class="text-style">3 bed 2 bath | apt.
                        Live close to the NCRB!</p>
                </div>
                <div class="right-side">
                    <img class="post-image" src="/uploads/courtyards.jpg">
                </div>
            </div>
            <div class="post" onclick="sendOffer()">
                <div class="left-side">
                    <h5 class="text-style">Medical Center Court | Ann Arbor</h5>
                    <p class="text-style">5 miles away</p>
                    <p class="text-style">2 bed 1 bath | apt.
                        Right in between north and central</p>
                </div>
                <div class="right-side">
                    <img class="post-image" src="/uploads/medical.jpeg">
                </div>
            </div>
            <div class="post" onclick="sendOffer()">
                <div class="left-side">
                    <h5 class="text-style">1336 Geddes Ave | Ann Arbor</h5>
                    <p class="text-style">8 miles away</p>
                    <p class="text-style">2 bed 1 bath 2 floors | apt.
                        Free Parking!</p>
                </div>
                <div class="right-side">
                    <img class="post-image" src="/uploads/geddes.jpg">
                </div>
            </div>
            <div class="post" onclick="sendOffer()">
                <div class="left-side">
                    <h5 class="text-style">Nob Hill | Ann Arbor</h5>
                    <p class="text-style">10 miles away</p>
                    <p class="text-style">studio | apt.
                        5 minutes from the stadium!</p>
                </div>
                <div class="right-side">
                    <img class="post-image" src="/uploads/nobhill.jpg">
                </div>
            </div>
        </div>
    </body>

</html>