<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/css/style.css">
        <title>insta485</title>
    </head>

    <body>
        <div class="pageHead">
            <h2 class="home"><a href="/">Home</a></h2>
            <h2 class="explore"><a href="/explore/">explore | </a></h2>
            <h2 class="profile"><a href="/users/{{logname}}/" >{{logname}}</a></h2>
        </div>
        <div class="user_info"></div>
        <div id="postEntry">
            Loading ...
          </div>
          <!-- Load JavaScript -->
          <script type="text/javascript" src="{{ url_for('static', filename='js/bundle.js') }}"></script>
        </body>
    </body>

</html>