<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/style.css">
        <script src="/static/js/script.js"></script>
        <title>Spaceshare</title>
    </head>

    <body>
        <h1 id="title">Spaceshare</h1>
        
        <div class="user_info">
        <div id="home-btns">
            <a class="button" href="/accounts/phone_number/">Create Account</a>
            <a class="button" href="login.html">Login</a>
        </div>
    </body>

</html>