<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/css/style.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" crossorigin="anonymous">
        <script src="/static/js/script.js"></script>
        <title>Spaceshare</title>
    </head>
    <body>
        <div id="header">
            <i aria-label="location" class="fa-2x fa-solid fa-location-dot"></i>
            <input id="current" type="text" placeholder="Ann Arbor, MI">
            <input id="distance" type="text" placeholder="10 mi">
            <a href="/">
                <i aria-label="explore" class="fa-2x fa-solid fa-bars"></i>
            </a>
        </div>

        <div id="bottom-icons">
            <i onclick="addListing()" aria-label="add-place" class="fa-2x fa-solid fa-circle-plus"></i>
        </div>
        
        <div id="map">
            <img src="/uploads/ann-arbor.png">
        </div>

        <i onclick="sendOffer()" style="position: absolute; top:35%; left: 85%;" aria-label="location" class="fa-2x fa-solid fa-location-dot"></i>
        <i onclick="sendOffer()" style="position: absolute; top:35%; left: 83%;" aria-label="location" class="fa-2x fa-solid fa-location-dot"></i>
        <i onclick="sendOffer()" style="position: absolute; top:49%; left: 49%;" aria-label="location" class="fa-2x fa-solid fa-location-dot"></i>
        <i onclick="sendOffer()" style="position: absolute; top:68%; left: 55%;"aria-label="location" class="fa-2x fa-solid fa-location-dot"></i>
        <i onclick="sendOffer()" style="position: absolute; top:76%; left: 15%;" aria-label="location" class="fa-2x fa-solid fa-location-dot"></i>

        <!-- <div class="overlay">
            <div class="temp-page">

            </div>
        </div> -->


    </body>
</html>