<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/css/style.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" crossorigin="anonymous">
        <script src="/static/js/script.js"></script>
        <title>Spaceshare</title>
    </head>
    <body>
        <div id="header">
            <i aria-label="location" class="fa-2x fa-solid fa-location-dot"></i>
            <input id="current" type="text" placeholder="Cambridge, MA">
            <input id="distance" type="text" placeholder="10 mi">
            <a href="/">
                <i aria-label="explore" class="fa-2x fa-solid fa-bars"></i>
            </a>
        </div>

        <div id="bottom-icons">
            <i onclick="addListing()" aria-label="add-place" class="fa-2x fa-solid fa-circle-plus"></i>
        </div>
        
        <div id="map">
            <img src="/uploads/cambridgemap.png">
        </div>

        <i onclick="sendOffer('Kendall SPACIOUS COLLEGE Spare', 'Kendall Sq. / Cambridge', '0.1mi away', '5x10 small backyard patio | apt. Non-flammable items please!', '72hr-10d')" style="position: absolute; top:25%; left: 50%;" aria-label="location" class="fa-2x fa-solid fa-location-dot"></i>
        <i onclick="sendOffer('LONGTERM BIKE RACK (garage) near central station', 'Central Sq. / Cambridge', '0.31mi away', 'Bike Storage - Apt. Basement ONE space for bicycle, or mounted scooter/skateboard, anything else that could fit (hang) - outermost rack - NOTHING ELSE', '1m+')" style="position: absolute; top:15%; left: 30%;" aria-label="location" class="fa-2x fa-solid fa-location-dot"></i>
        <i onclick="sendOffer('Simple garage storage - about 5x10', 'Union Square / Somerville', '0.5mi away', 'Garage Space - townhouse tool storage, recreational gear, small storage bins no perishables please!', '2w-6m')" style="position: absolute; top:20%; left: 80%;" aria-label="location" class="fa-2x fa-solid fa-location-dot"></i>
        <i onclick="sendOffer('Neat boxes, commercial flat (above uniqlo, apt#14A)', 'Back Bay / Boston', '0.8mi away', 'Spare Room 10x8 - Commercial Flat xtra storage--neatly packed boxes!!', '3m-1y')" style="position: absolute; top:80%; left: 45%;"aria-label="location" class="fa-2x fa-solid fa-location-dot"></i>
        <i onclick="sendOffer('BOATHOUSE storage', 'Dorchester | Boston', '3.2mi away', 'half of a boat storage house (20x30) near marina prefer: marina equipment, Surfboards, fishing rods, etc. can hold ONE SMALL vehicle, e.g. jetski. *NO BOATS*', '<2m')" style="position: absolute; top:100%; left: 90%;" aria-label="location" class="fa-2x fa-solid fa-location-dot"></i>

        <!-- <div class="overlay">
            <div class="temp-page">

            </div>
        </div> -->


    </body>
</html>