<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>insta485</title>
  </head>

  <body>
    <div class="pageHead">
      <h2 class="home"><a href="/">Home</a></h2>
      <h2 class="explore"><a href="/explore/">explore | </a></h2>
      <h2 class="profile"><a href="/users/{{logname}}/">{{logname}}</a></h2>
    </div>
    <div class="user_info">
        <form action="/accounts/?target=/accounts/edit/" method="post" enctype="multipart/form-data">
            <h3>Old password</h3><input type="password" name="password" required/>
            <h3>New password</h3><input type="password" name="new_password1" required/>
            <h3>New password, again</h3><input type="password" name="new_password2" required/>
            <input type="submit" name="update_password" value="submit"/>
            <input type="hidden" name="operation" value="update_password"/>
        </form>
        <a href="/accounts/edit/">Back to edit account</a>
    </div>
  </body>
</html>