<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/style.css">
        <script src="/static/js/script.js"></script>
        <title>Spaceshare</title>
    </head>

    <body> 
        <div class="container">
            <div class="center">
                <h2>phone-number:</h2>
                <br>
                <form class="inline" action="/accounts/otp/" method="post" enctype="multipart/form-data">
                    <label for="textInput">1+</label>
                    <input type="text" name="phone_number" minlength="10" maxlength="10" required/>
                </form>
            </div>
        </div>

    </body>

</html>