<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/style.css">
        <script src="/static/js/script.js"></script>
        <title>Spaceshare</title>
    </head>

    <body> 
        <div class="container">
            <div class="center">
                <h2>set password:</h2>
                <br>
                <form class="inline" action="/accounts/set_city/" method="post" enctype="multipart/form-data">
                    <input type="password" name="password" minlength="8" required/>
                    <input type="password" name="password2" minlength="8" required/>
                    <input type="submit" name="idk" value="submit">
                </form>
            </div>
        </div>

    </body>

</html>