<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/style.css">
        <script src="/static/js/script.js"></script>
        <title>Spaceshare</title>
    </head>

    <body> 
        <div class="container">
            <div class="center">
                <h2>city:</h2>
                <br>
                <form class="inline" action="/accounts/account_created/" method="post" enctype="multipart/form-data">
                    <input type="text" name="city" required/>
                    <input type="submit" name="find" value="Find Me">
                </form>
            </div>
        </div>

    </body>

</html>