@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap");

#title {
    text-align: center;
}

.button {
    background-color: blue;
    color: white;
    border-radius: 40px;
    text-decoration: none;
    padding: 10px 40px;
}
 
body {
    font-family: "Inika";
    margin: 0px;
    font-size: 0.85em;
}

.container {
    display: flex;
    align-items: center;
    height: 100vh;
    margin-left: 20px;
}

.center {
    padding: 20px;
}

.inline {
    display: inline-block;
}

label {
    font-size: 1.5em;
    font-weight: bold;
}

input {
    border-width: 0px 0px 2px 0px;
    border-color: black;
    font-weight: bold;
    font-size: 1.5em;
    width: 85%;
    font-family: "Inika";
}

#all-posts {
    width: 100%;
}

.post {
    border: outset rgba(0, 0, 0, 1) .2px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 10px;
}

.left-side {
    padding-right: 10px;
    font-size: xx-large;
    vertical-align: auto;
}

.right-side {
    border-left: solid rgb(128, 128, 128, .3) 3px;
    border-right: solid rgb(128, 128, 128, .3) 3px;
    border-radius: 12px;
}

.post-image {
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 1%;
}

#top-icons {
    background-color: white;
    border: 2px solid black;
    position: fixed;
    right: 0;
    top: 8%;
    border-radius: 20px 0px 0px 20px;
    padding: 5px;
}

#bottom-icons {
    background-color: white;
    border: 2px solid black;
    position: fixed;
    right: 0;
    bottom: 8%;
    border-radius: 20px 0px 0px 20px;
    padding: 5px;
}

div#top-icons i {
    display: block;
    padding: 10px;
}

div#bottom-icons i {
    display: block;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

#header {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#current {
    width: 40%;
    margin: 5px;
}

#distance {
    width: 15%;
    margin: 5px;
}

#header i {
    margin: 5px;
}

div#map {
    height: 90vh; /* temp value */
}

#map img {
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 9999; /* Ensure it's above other elements */
}
  
.temp-page {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
}

.text-style {
    padding-top: 12%;
    padding-bottom: 12%;
    border: solid 1px rgba(0, 0, 0, .05);
    box-shadow: 1px 2px rgba(0, 0, 0, 0.5);
}